@import url('https://fonts.googleapis.com/css?family=Patua+One|Roboto:300,400');

html {
 box-sizing: border-box;
}

*, *:before, *:after {
 box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffbfe;
  font-family: Roboto, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0.5em
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/***************************************
  Styles for ReactCSSTransitionGroup
****************************************/

.page-enter {
  opacity: 0.01;
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}

.page-leave {
  opacity: 1;
}

.page-leave.page-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.page-appear {
  opacity: 0.01;
}

.page-appear.example-appear-active {
  opacity: 1;
  transition: opacity .6s ease-in;
}
