@import url('https://fonts.googleapis.com/css?family=Patua+One|Lato:300');

html {
 box-sizing: border-box;
}

*, *:before, *:after {
 box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  padding: 0;
  background-color: #f1f2f3;
  line-height: 1.7;
}

@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

p {
  margin: 0.5em;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/***************************************
  Styles for ReactCSSTransitionGroup
****************************************/

.title-appear {
  opacity: 0.01;
  visibility: hidden;
  transform: translateX(-50%);
}

.title-appear.title-appear-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition: all 0.8s ease-out;
}

.intro-appear {
  opacity: 0.01;
  visibility: hidden;
  transform: translateX(50%);
}

.intro-appear.intro-appear-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition: all 0.8s ease-out;
}

.fade-in-appear {
  opacity: 0.01;
  visibility: hidden;
}

.fade-in-appear.fade-in-appear-active {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in;
}

/***************************************
  Styles for WorkItem tiles
****************************************/

.work-item-tile {
  position: relative;
  overflow: hidden;
  min-height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-item-img {
  max-width: 170px;
  transition: transform 0.4s;
}

.work-item-tile:hover .work-item-img,
.work-item-tile:focus .work-item-img,
.work-item-tile:active .work-item-img {
  transform: translateY(-50px);
}

.work-item-tile:hover .work-item-overlay,
.work-item-tile:focus .work-item-overlay,
.work-item-tile:active .work-item-overlay {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}

.work-item-overlay {
  padding: 0 1em;
  background: #2c3f52;
  color: #fffbfe;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  backface-visibility: hidden;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  text-align: center;
}

.work-item-overlay:hover {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}
